

:root{
    --color-silver: rgba(217, 217, 217, 1);
    --color-silver_light: rgba(217, 217, 217, 0.17);
    --color-silver_light2: rgba(217, 217, 217, 0.822);
    --color-silver-dark: rgba(165, 165, 165, 1);
    --color-white: white;
    --color-white_low: rgba(255, 255, 255, 0.689);
    --color-white_light: rgba(255, 255, 255, 0.105);
    
    --color-black: rgba(10, 10, 10, 1);
    --color-black_light: rgba(23, 23, 23, 1);

    --color-green: rgb(85, 255, 85);

    --radius-1: 2px;

    --border-primary: 1px solid var(--color-silver);
}