
.about{
    @include defaultSizesSection();
    .about-main{
        display: flex;
        justify-content: space-between;
        max-width: 1120px;
        margin: 0 auto;
        margin-top: 4rem;
        
        .about-content{
            @include flexColumn();
            gap: 2.5rem;
            width: 50%;
            display: flex;
            flex-direction: column;

            p{
                color: var(--color-white_low);
            }

            .socials-media_list{
                display: flex;
                gap: 1rem;
            }

            .btn-primary{
                img{
                    width: 1.5rem;
                }
            }
        }
        figure{
            img{
                max-width: 100%;
            }
        }
    }

    @media (max-width:426px) {
        .about-main{
            flex-direction: column;
            align-items: center;
            gap: 4rem;
        .about-content{
            width: 100%;
            align-items: center;
            text-align: center  ;
        }
        }
    }
}